.App {
  text-align: center;
  background: grey;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Wrapper{
  background:rgb(136, 60, 72);
  padding:10px;
  border-radius: 15px;
  box-shadow: 0 1px 4 px 0 rgba(0, 0,0, 0.5);
}

.Input-wrapper{
  display:flex;
  justify-content: space-between;
  width:200px;
  align-items: center;
}

.Input-wrapper input{
  border-radius:15px;
  border:0;
  background-color: rgb(170, 118, 118);
  width:140px;
  padding: 6px;
  height:20px;
  margin: 10px;
}


.Input-wrapper button{
  width:25px;
  height:25px;
  border-color: rgb(32, 30, 30);
  border-radius:50%;
  padding:0;
  outline: none;
}

.subject{
  font-size:15px;
}

